{
	"info": {
		"_postman_id": "135a0f03-c000-413f-a860-1559de60feb3",
		"name": "NIX JUNIOR",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json",
		"_exporter_id": "20982235"
	},
	"item": [
		{
			"name": "User",
			"item": [
				{
					"name": "LoginUser",
					"request": {
						"method": "POST",
						"header": [],
						"body": {
							"mode": "raw",
							"raw": "{\n    \"email\": \"email@mail.com\",\n    \"password\": \"qwerty12345\"\n}",
							"options": {
								"raw": {
									"language": "json"
								}
							}
						},
						"url": {
							"raw": "localhost:80/login",
							"host": [
								"localhost"
							],
							"port": "80",
							"path": [
								"login"
							]
						}
					},
					"response": []
				},
				{
					"name": "RegisterUser",
					"request": {
						"method": "POST",
						"header": [],
						"body": {
							"mode": "raw",
							"raw": "{\r\n    \"email\": \"email@mail.com\",\r\n    \"password\": \"qwerty12345\",\r\n    \"name\": \"James\"\r\n}",
							"options": {
								"raw": {
									"language": "json"
								}
							}
						},
						"url": {
							"raw": "localhost:80/register",
							"host": [
								"localhost"
							],
							"port": "80",
							"path": [
								"register"
							]
						}
					},
					"response": []
				}
			]
		},
		{
			"name": "PING",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "{{url}}",
					"host": [
						"{{url}}"
					]
				}
			},
			"response": []
		}
	],
	"event": [
		{
			"listen": "prerequest",
			"script": {
				"type": "text/javascript",
				"exec": [
					""
				]
			}
		},
		{
			"listen": "test",
			"script": {
				"type": "text/javascript",
				"exec": [
					""
				]
			}
		}
	],
	"variable": [
		{
			"key": "url",
			"value": "localhost:80/api/v1",
			"type": "string"
		}
	]
}